In [5]:
dataset = pd.read_csv('./data/accepted_2007_to_2018Q4.csv')

/tmp/ipykernel_37/87502459.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('/kaggle/input/lending-club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv')

In [6]:
dataset.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## loan_amnt: 대출 총액
## term 대출 기간
## loan_status 대출 상태
## grade 대출 등급
## int_rate 대출 이자율

In [20]:
data = dataset[['loan_amnt','loan_status', 'grade', 'int_rate', 'term']]

In [28]:
loan_value36 = data.loc[data['term']==' 36 months', 'loan_amnt'].sum()
loan_value60 = data.loc[data['term']==' 60 months', 'loan_amnt'].sum()

print(f"36개월 대출 대출총액: {int(loan_value36)}")
print(f"60개월 대출 대출총액: {int(loan_value60)}")

36개월 대출 대출총액: 20517162875
60개월 대출 대출총액: 13498953050

In [50]:
data['loan_status'].unique()

bad_status = ['Charged Off', 'Default', 'Does not meet the credit policy. Status:Charged Off','In Grace Period','Late (16-30 days)','Late (31-120 days)']

print("정상 대출자 등급 파악")
print(data.loc[~(data['loan_status'].isin(bad_status)), 'grade'].value_counts().sort_index())
print()
print("불량 대출자 등급 파악")
print(data.loc[data['loan_status'].isin(bad_status), 'grade'].value_counts().sort_index())

정상 대출자 등급 파악
grade
A    416518
B    603344
C    552225
D    255531
E     96073
F     26206
G      7159
Name: count, dtype: int64

불량 대출자 등급 파악
grade
A    16509
B    60213
C    97828
D    68893
E    39566
F    15594
G     5009
Name: count, dtype: int64

In [49]:
print(f"대출총액과 대출 이자율 간의 상관관계: {data['loan_amnt'].corr(data['int_rate']):.3f}")

대출총액과 대출 이자율 간의 상관관계: 0.098